:root {
    --bigger-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    --toast-popup-padding: 10px 10px 10px 30px;

    --dark-gray: rgba(0, 0, 0, 0.5);
    --white-color: rgba(255, 255, 255, 1);
    --required-color: rgb(255, 0, 0);
}

/* very - important */
.hide-now {
    display: none;
}

.input-box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.input-box-row input {
    flex: 1;
    width: 100%;
}

.open-eye {
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 10;
}

#password {
    padding-right: 30px;
}